.container{
    display: flex;
    flex-direction: column;
    margin: 110px 240px;
    padding: 24px 48px;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    width: 433px;
    height: 80px;
}

h2{
    font-weight: 700;
    font-size: 24px;
}

.btns{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 40px 0;
}

.btn1{
    background: transparent;
    border: 1px solid #CED2DA;
    border-radius: 16px;
    color: #344051;
    padding: 16px 32px;
    font-weight: 600;
    display: block;
    width: 100%;
}

.btn2{
    background: #DB0019;
    border-radius: 16px;
    padding: 16px 64px;
    font-weight: 600;
    display: block;
    width: 100%;
}
